.root {
    position: absolute;  
    background-image: url('../assets/aboutBackground.png');
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: auto;
    padding: 0px;
    background-size: 100%;
    display: flex;
    flex-direction: column;
}

.rootTop {
  display: flex;
  flex-direction: row;
}

.rootBottom {
  margin-left: 40px;
  align-items: center;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}
.rootBottomLeft {
  display: flex;
  flex-direction: column;
}



.title{
  background-color: #853830;
  border-radius: 25px;
  color: #fff9ee;
  width: 800px;
  overflow: auto; 
  height: 300px;
  text-align: center;
}

.educationDiv {
  background-color: #FFefce;
  height: 200px;
  border-radius: 25px;
  width: 500px;
}
.education{
  margin-top: -50px;
}

.skillsDiv {
  background-color: #ffefce;
  height: 200px;
  border-radius: 25px;
  margin-top: 50px;

}
.skills {
  margin-top: -50px;
}

.experienceDiv {
  background-color: #ffefce;
  height: 200px;
  border-radius: 25px;
  align-items:flex-end;
  width: 890px;
  margin-left: 20px;
  justify-content: right;
}
.experience {
  margin-top: -50px;
}

.header {
  background-color: none;
  display: flex;
  flex-direction: row;
  overflow: none;
  font-size: 24px;
  font-weight: bolder;
}
.resLink {
  margin-left: 1200px;
}