.root {
<<<<<<< HEAD
  background-image: url('./assets/WelcomePage.png');
=======
  background-image: url('./assets/background.png');
>>>>>>> a4fd532 (add assets)
  height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;
  background-repeat: no-repeat;
  background-size: 90%;
}